* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: 'Poppins', fantasy;
  padding: 20px 30px;
}

.navbar-brand {
  color: black;
  font-size: 2em;
}

.nav-link {
  color: black;
}

ul {
  gap: 2em;
}

.carousel-item img {
  height: 36rem;
}

.carousel-caption {
  color: black;
}
